* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "papyrus";
}

body {
  width: 100%;
  background: linear-gradient(to right, white, purple, green);
  background-size: 200% 100%;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }

}
